.html_block{id: "blog_post_#{blog_post.id}"}

  %h1
    = blog_post.name

  - unless blog_post.summary.blank?
    = blog_post.summary.html_safe

  - unless blog_post.body.blank?
    = blog_post.body.html_safe


-# .blog_post{id: "blog_post_#{blog_post.id}"}

-#   - if blog_post.file.present? && blog_post.file.data_file_name.present?
-#     .image
-#       = image_tag blog_post.file.versioned_url
-#   - if blog_post.image_url.present?
-#     .image
-#       = image_tag blog_post.image_url

-#   - if blog_post.video.present? && blog_post.video.data_file_name.present?
-#     .video
-#       = video_tag blog_post.video.versioned_url, controls:true

-#   - if blog_post.video_url.present?
-#     .image
-#       = video_tag blog_post.video_url, controls:true