= f.input :post_id, collection: BcmsBlog::BlogPost.all(:order => "name").map{|p| [p.name, p.id]}
= f.input :author
= f.input :email, as: :email
= f.input :url, as: :url
= f.input :body, as: :text_editor
